/* Se on mitä se on */
body {
    background-color: #635985;
}
button {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 430%;
    padding: 10px;
    background-color: #443C68;
}
button:hover {
    background-color: rgb(137, 125, 179);
}
h1 {
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 70px;
}
.ala {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.yla {
    margin-left: auto;
    margin-right: auto;
    width: 472px;
}
.pohja {
    margin-left: auto;
    margin-right: auto;
    width: 472px;
    text-align: center;
}
#naytto {
    background-color: rgb(40, 212, 224);
    font-size: 50px;
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 35px;
    text-align: center;
}
#yksi, #kaksi, #kolme, #neljä, #viisi, #kuusi, #seiska, #kasi, #ysi, #jako, #kerto, #plus, #miinus, #pilkku, #delete {
    border-radius: 200px;
    border-color: aqua;
    border-width: 4px;
    border-style: inset;
    font-size: 50px;
    width: 90px;
}
#nolla, #yhtasuuri {
    border-radius: 200px;
    border-color: aqua;
    border-width: 4px;
    border-style: inset;
    font-size: 50px;
    width: 230px;
}
#ac {
    border-radius: 200px;
    border-color: aqua;
    border-width: 4px;
    border-style: inset;
    font-size: 50px;
    width: 160px;
}
.tausta {
    background-color: #393053;
    width: 550px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#delete {
    font-size: 47px;
    /* Bruh moment */
}