.boks {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 80px;
    display: grid;
}
.boks div {
    background-color: rgb(242, 76, 75);
    border: solid black 2px;
}
.boks #box {
    grid-row-start: 2;
    grid-row-end: span 2;
}
.boks2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 80px;
}
.boks2 #box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.boks2 #box2 {
    grid-row-start: 2;
    grid-row-end: span 3;
}
.boks2 div {
    background-color: chartreuse;
    border: solid black 2px;
}
