body {background-color: #9AA8A8;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #466A44;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #9AA8A8;
  }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #466A44;
    color: white;
    text-align: center;
  }
.footer a:hover {
    background-color:#9AA8A8 ;
    padding: 16px;
}
p {
    text-align: center;
    background-color: #466A44;
}
form {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
