.wrapper, .wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper div {
    background-color: chartreuse;
    border: solid black 1px;
    width: 150px;
    height: 170px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.wrapper2 div {
    background-color: rgb(255, 0, 0);
    border: solid black 1px;
    width: 165px;
    height: 80px;

}
.wrapper2 #koira {
    width: 300px;
    
}